{% extends "base.html" %} {% block content %}
<body class"container mx-auto my-auto">
  <section class="p-10 min-h-screen flex flex-col items-center justify-center content-around bg-gradient-to-b from-black to-blue-900">
    <h1 class="pt-14 pb-4 text-center subpixel-antialiased font-bungee font-semibold text-3xl tracking-wide md:text-5xl 
    animate-text bg-gradient-to-r from-teal-500 via-purple-500 
    to-yellow-500 bg-clip-text text-transparent">Astronomy Picture of the {{date}} </h1>
    <h4 class="pt-10 pb-4 text-center subpixel-antialiased font-bungee font-semibold 
    text-2xl tracking-wide md:text-3xl bg-gradient-to-r from-teal-500 via-purple-500 to-yellow-500 
    hover:from-pink-500 hover:to-yellow-500 bg-clip-text text-transparent">{{title}}</h4>
    <a href={{url}}><img class="py-8 pt-10" style="max-width: 300; max-height: 300;"src="{{daily_image}}" alt=""></a>
    <div class="bg-gradient-to-r from-green-400 to-blue-500 rounded-lg">
      <div class="p-5">
      {% if owner%}
      <p class="text-center text-2xl font-bungee">Image Credit:</p>
      <p class="pb-6 text-center text-white font-quicksand">{{owner}}</p>
      {% endif %}
      <h2 class="pb-4 text-center text-2xl font-bungee">Explanation:</h2>
      <p class="text-center text-white font-quicksand">{{explanation}}</p>
      </div>
    </div>

  </section>
</body>
{% endblock content %}
