{% extends "base.html" %} {% load static %} {% block content %}

<body
  class="bg-cover min-h-screen bg-no-repeat"
  style="background-image: url('{% static 'img/background.png' %}')"
>
  <div class="container mx-auto">
    <section class="flex items-center justify-center h-screen">
      <h1
        class="subpixel-antialiased font-bungee font-semibold text-7xl 
        tracking-wide md:text-9xl animate-text bg-gradient-to-r from-teal-500 
        via-purple-500 to-yellow-500 bg-clip-text text-transparent"
      >
        Space Time
      </h1>
    </section>
  </div>
</body>
{% endblock content %}
